:root {
    --primary-color: #eff1f0;
    --secondary-color: #0c0a00;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;

    background-color: var(--primary-color);
    scroll-behavior: smooth;
}