.clients {
    /* height: 100vh; */
    height: 750px;
}

.clients__title {
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 20vw;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.clients__item {
    /* display: flex;
    justify-content: center;
    flex-basis: calc((100% - 200px) / 4); */
}

.clients__img {
    width: 100px;
}