.footer {
    margin-bottom: 70px;
    color: #e7e8e7;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    border-radius: 20px;
}

.footer__contacts__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer__contacts__item {}

.footer__contacts__link {}

.footer__social-links__list {
    display: flex;
    gap: 20px;
}

.footer__social-links__item {}

.footer__social-links__link {}

.footer__social-links__icon {
    width: 30px;
    height: 30px;
    fill: #e7e8e7;
    color: #1c1c1c;
}