.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__nav {
    position: fixed;
    top: 4%;
    left: 10%;
    z-index: 100;
}

.header__nav-list {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: 50px;
}

.header__nav-item {
    width: 80px;
    height: 80px;
}

.header__nav-link {}


.header__nav-img {}

.header__nav-img {
    margin-bottom: 10px;
    transition: all 300ms ease-in-out;

}

.header__nav-img:hover {
    transform: scale(1.1);
}

.header__nav-text {
    color: #929292;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;

    /* mix-blend-mode: difference; */
}