.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    color: var(--primary-color);
    font-size: 30px;
    text-transform: uppercase;
}



.header__nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header__nav-item {}

.header__nav-btn {
    width: 88px;
    height: 24px;
    border: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 15px;
    /* letter-spacing: 0.5px; */
    color: var(--primary-color);
    background-color: var(--accent-color);
}

/* Contents button menu window */
.contacts__window {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    padding: 20px;

    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(-100%);
    transition: transform 400ms linear;
}

.contacts__window.is-open {
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
}

.no-scroll {
    overflow: hidden;
}

.contacts__window__close-btn {
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 1200px) {
    .header__logo {
        font-size: 30px;
    }

    .header__nav {
        top: 25px;
        right: 50px;
    }

    .header__nav-btn {
        width: 92px;
        height: 31px;
        border: none;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 18px;
        /* letter-spacing: 0.5px; */
    }
}