.hero {
    height: 100vh;
    background-color: var(--secondary-color);
    color: var(--primary-color);

    /* position: relative; */
}

.hero .container {
    position: relative;
}

.hero__title {
    position: sticky;
    z-index: 2;
    top: 295px;
    left: 0;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 20vw;
}

.hero__text {
    width: 159px;
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 0.9;
    /* margin-top: 140px; */
    margin-left: 48vw;
}

.hero__text--colored {
    color: var(--primary-color);
}


.hero__gif-thumb {
    will-change: transform;
}

.down-slower {
    transform: translate3d(0, calc(var(--scrollTop) / 7), 0);
}

.down-slow {
    transform: translate3d(0, calc(var(--scrollTop) / 4), 0);
}

.up {
    transform: translate3d(0, calc(var(--scrollTop) / -5), 0);
}

.hero__gif-1-thumb {
    position: absolute;
    z-index: 3;
    top: 73px;
    left: 24px;
    width: 141px;
}

.hero__gif-2-thumb {
    position: absolute;
    top: 400px;
    right: 25px;
    width: 165px;
}

.hero__gif-3-thumb {
    position: absolute;
    z-index: 3;
    top: 410px;
    left: 20px;
    width: 133px;
}

.hero__gif-4-thumb {
    position: absolute;
    z-index: 3;
    top: 580px;
    right: 15px;
    width: 131px;
}

@media screen and (min-width: 1200px) {
    .hero {
        height: 260vh;
    }

    .hero__title {
        top: 400px;
        left: 0;
        font-size: 285px;
        /* letter-spacing: 5px; */
    }

    .hero__text {
        width: 390px;
        font-size: 40px;
        line-height: 0.9;
        margin-top: -280px;
        margin-left: 55%;
    }

    .hero__gif-1-thumb {
        top: -4%;
        left: 23%;
        width: 350px;
    }

    .hero__gif-2-thumb {
        position: absolute;
        top: 580px;
        right: 0;
        width: 640px;
    }

    .hero__gif-3-thumb {
        position: absolute;
        z-index: 3;
        top: 860px;
        left: 20px;
        width: 499px;
    }

    .hero__gif-4-thumb {
        position: absolute;
        z-index: 3;
        top: 1170px;
        right: 15px;
        width: 310px;
    }
}