.hero {
    position: relative;
    height: 1000px;
    background-color: #1c1c1c;

    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.hero__title {
    color: #e7e8e7;
    text-transform: uppercase;
    font-family: Helvetica Neue, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;

    margin-top: 23%;
    margin-left: 27%;
}

.hero__text {
    width: 600px;
    color: #e7e8e7;
    text-transform: uppercase;
    font-family: Helvetica Neue, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;

    margin-left: 27%;
}

.hero__gif-1-thumb {
    position: absolute;
    top: 2%;
    left: 40%;
    width: 250px;
    border: 5px solid #1c1c1c;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 5px 15px;
    border-radius: 20px;
    overflow: hidden;
}

.hero__gif-1 {
    width: 100%;
    height: auto;
}

.hero__gif-2-thumb {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 300px;
    border: 5px solid #1c1c1c;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 5px 15px;
    border-radius: 20px;
    overflow: hidden;
}

.hero__gif-2 {
    width: 100%;
}

.hero__gif-3-thumb {
    position: absolute;
    right: 10%;
    top: 10%;
    width: 300px;
    border: 5px solid #1c1c1c;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 5px 15px;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 5px;
    background-color: #fff;

}

.hero__gif-3 {
    width: 100%;
}

.hero__gif-4-thumb {
    position: absolute;
    right: 15%;
    bottom: -10%;
    width: 250px;
    border: 5px solid #1c1c1c;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 5px 15px;
    border-radius: 20px;
    overflow: hidden;
}

.hero__gif-4 {
    width: 100%;
}

.hero__gif-5-thumb {
    position: absolute;
    top: 60%;
    left: 35%;
    width: 300px;
    border: 5px solid #1c1c1c;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 5px 15px;
    border-radius: 20px;
    overflow: hidden;
}

.hero__gif-5 {
    width: 100%;
}