.projects {
    background-color: #1c1c1c;
    padding: 100px 0;
}

.projects__title {
    color: #e7e8e7;
    opacity: 1;
    text-transform: uppercase;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    border-bottom: 3px solid #bebfbe;

    padding-bottom: 30px;
    margin-bottom: 50px;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
}

/* .projects__item {
    will-change: transform;
} */

/* .back {
    transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
}

.middle {
    transform: translate3d(0, calc(var(--scrollTop) / 3), 0);
}

.front {
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
} */

.three-in-row__list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.three-in-row__list .projects__item:nth-child(2) {
    position: absolute;
    left: 40%;
}

.projects__item-img {}