.projects {
    background-color: #1c1c1c;
    padding: 100px 0;
}

.projects__title {
    color: #e7e8e7;
    opacity: 1;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    line-height: 130%;
    text-align: end;
    border-bottom: 3px solid #bebfbe;

    padding-bottom: 30px;
    margin-bottom: 50px;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects__item {
    will-change: transform;

    /* cursor: pointer; */
}

.pojects__item__thumb {
    position: relative;

    border-radius: 10px;
    overflow: hidden;
}

.projects__item__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.projects__item__play-btn {
    position: absolute;
    z-index: 10;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    bottom: 15px;
    left: 15px;


    width: 70px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.7);
    /* background-color: transparent; */
    /* border: 1px solid #fff; */
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 400ms ease-in-out;
}

.pojects__item__thumb:hover .projects__item__play-btn,
.pojects__item__thumb:focus .projects__item__play-btn {
    background-color: #fff;
}

.projects__item__play-btn__icon {
    width: 100%;
    height: 20px;
    fill: #fff;
}

.pojects__item__thumb:hover .projects__item__play-btn__icon,
.pojects__item__thumb:focus .projects__item__play-btn__icon {
    fill: #000;
}

.prejects__down-fast {
    transform: translate3d(0, calc(var(--scrollTop) / 6), 0);
}

.prejects__down-slow {
    transform: translate3d(0, calc(var(--scrollTop) / 7), 0);
}

.prejects__up {
    transform: translate3d(0, calc(var(--scrollTop) / -5), 0);
}

.three-in-row__list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 50px;
}

.three-in-row__list .projects__item:nth-child(1) {
    position: relative;
    top: 100%;
    right: 0;
}

.three-in-row__list .projects__item:nth-child(2) {
    position: absolute;
    top: -50%;
    left: 40%;
}

.three-in-row__list .projects__item:nth-child(3) {
    position: relative;
    top: 100%;
    right: 0;
}

.projects__item:nth-child(5),
.projects__item:nth-child(6) {
    margin-top: 100px;
}

.projects__item:last-child {
    margin-top: 100px;
}

.projects__item--pos {
    position: relative;
    z-index: 2;
    top: -100px;
    left: 0;
}

.projects__item-img {}