<section class="clients">
  <div class="container">
    <h2 class="clients__title">clients</h2>
    <ul class="clients__list">
      <li class="clients__item">
        <img
          class="clients__img"
          src="../images/clients/Bang-Bros-Logo.png"
          alt=""
        />
      </li>
      <li class="clients__item">
        <img class="clients__img" src="../images/clients/brazzers.png" alt="" />
      </li>
      <li class="clients__item">
        <img class="clients__img" src="../images/clients/deeper.png" alt="" />
      </li>
      <li class="clients__item">
        <img class="clients__img" src="../images/clients/mylf.png" alt="" />
      </li>
      <li class="clients__item">
        <img class="clients__img" src="../images/clients/porn-hub.png" alt="" />
      </li>
      <li class="clients__item">
        <img class="clients__img" src="../images/clients/private.webp" alt="" />
      </li>
      <li class="clients__item">
        <img
          class="clients__img"
          src="../images/clients/RealityKings-Logo.png"
          alt=""
        />
      </li>
      <li class="clients__item">
        <img class="clients__img" src="../images/clients/vixen.png" alt="" />
      </li>
    </ul>
  </div>
</section>
