<footer class="footer">
  <div class="container">
    <ul class="footer__contacts__list">
      <li class="footer__contacts__item">
        <a href="mailto:sample@mail.com" class="footer__contacts__link"
          >sample@mail.com</a
        >
      </li>
      <li class="footer__contacts__item">
        <a href="tel:+380000000000" class="footer__contacts__link"
          >+38 000-000-00-00</a
        >
      </li>
    </ul>
    <ul class="footer__social-links__list">
      <li class="footer__social-links__item">
        <a href="" class="footer__social-links__link">
          <svg class="footer__social-links__icon">
            <use
              href="/images/icons/social-icons/symbol-defs.svg#icon-tiktok"
            ></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-links__item">
        <a href="" class="footer__social-links__link">
          <svg class="footer__social-links__icon">
            <use
              href="/images/icons/social-icons/symbol-defs.svg#icon-vimeo"
            ></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-links__item">
        <a href="" class="footer__social-links__link">
          <svg class="footer__social-links__icon">
            <use
              href="/images/icons/social-icons/symbol-defs.svg#icon-instagram"
            ></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-links__item">
        <a href="" class="footer__social-links__link">
          <svg class="footer__social-links__icon">
            <use
              href="/images/icons/social-icons/symbol-defs.svg#icon-whatsapp"
            ></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-links__item">
        <a href="" class="footer__social-links__link">
          <svg class="footer__social-links__icon">
            <use
              href="/images/icons/social-icons/symbol-defs.svg#icon-telegram"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
