<footer class="footer">
  <div class="container">
    <ul class="footer__social-links__list">
      <li class="footer__social-links__item">
        <a href="" class="footer__social-links__link">
          <!-- <svg class="footer__social-links__icon">
            <use
              href="/images/icons/social-icons/symbol-defs.svg#icon-vimeo"
            ></use>
          </svg> -->
          <img
            class="footer__social__image"
            src="/images/icons/footer-icons/in.svg"
            alt=""
          />
        </a>
      </li>
      <li class="footer__social-links__item">
        <a href="" class="footer__social-links__link">
          <!-- <svg class="footer__social-links__icon">
            <use
              href="/images/icons/social-icons/symbol-defs.svg#icon-tiktok"
            ></use>
          </svg> -->
          <img
            class="footer__social__image"
            src="/images/icons/footer-icons/tik-tok.svg"
            alt=""
          />
        </a>
      </li>
      <li class="footer__social-links__item">
        <a href="" class="footer__social-links__link">
          <!-- <svg class="footer__social-links__icon">
            <use
              href="/images/icons/social-icons/symbol-defs.svg#icon-instagram"
            ></use>
          </svg> -->
          <img
            class="footer__social__image"
            src="/images/icons/footer-icons/v.svg"
            alt=""
          />
        </a>
      </li>
      <li class="footer__social-links__item">
        <a href="" class="footer__social-links__link">
          <!-- <svg class="footer__social-links__icon">
            <use
              href="/images/icons/social-icons/symbol-defs.svg#icon-whatsapp"
            ></use>
          </svg> -->
          <img
            class="footer__social__image"
            src="/images/icons/footer-icons/insta.svg"
            alt=""
          />
        </a>
      </li>
      <li class="footer__social-links__item">
        <a href="" class="footer__social-links__link">
          <!-- <svg class="footer__social-links__icon">
            <use
              href="/images/icons/social-icons/symbol-defs.svg#icon-telegram"
            ></use>
          </svg> -->
          <img
            class="footer__social__image"
            src="/images/icons/footer-icons/you.svg"
            alt=""
          />
        </a>
      </li>
    </ul>
  </div>
</footer>
