<header class="header">
  <div class="container">
    <a
      href="#"
      class="header__logo animate__animated animate__fadeIn animate__delay-5s animate__slow"
      >bazalevskiy maksym</a
    >
    <nav
      class="header__nav animate__animated animate__fadeIn animate__delay-5s animate__slow"
    >
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="" class="header__nav-link">
            <img
              class="header__nav-img"
              src="/images/header/portfolio-icon.png"
              alt=""
            />
          </a>
          <p class="header__nav-text">Portfolio</p>
        </li>
        <li class="header__nav-item">
          <button href="" class="header__nav-btn" id="open-contacts">
            <img
              class="header__nav-img"
              src="/images/header/contacts-icon.png"
              alt=""
            />
          </button>
          <p class="header__nav-text">Contacts</p>
        </li>
      </ul>
    </nav>

    <!-- contacts window -->
    <div class="contacts__window" id="contacts__window">
      <button class="contacts__window__close-btn" id="close-contacts">x</button>
    </div>
  </div>
</header>
