<header class="header">
  <div class="container">
    <!-- <svg class="heder__svg-icon">
      <use href="../images/icons/symbol-defs.svg#icon-favicon"></use>
    </svg> -->
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="" class="header__nav-portfolio-link">portfolio</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-portfolio-link">contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
