<section class="hero">
  <div class="container">
    <h1 class="hero__title">who am i</h1>
    <p class="hero__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, optio
      voluptatem illum quia omnis eum voluptate totam fugiat aspernatur, autem
      non. Aut, id velit laborum, earum architecto labore dolor similique sed
      doloremque adipisci nobis fuga nesciunt nemo perspiciatis eaque! Dolor non
      reprehenderit voluptatibus, quam magnam veritatis? Doloremque tempore nisi
      suscipit.
    </p>
    <div class="hero__gif-1-thumb">
      <img src="/images/gif/3.gif" alt="" class="hero__gif-1" />
    </div>
    <div class="hero__gif-2-thumb">
      <img src="/images/gif/vertical.gif" alt="" class="hero__gif-2" />
    </div>
    <div class="hero__gif-3-thumb">
      <!-- <svg class="hero__gif-3__svg">
        <use href=""></use>
      </svg> -->
      <div class="hero__gif-3__header">
        <img
          src="/images/icons/girl.png"
          alt=""
          class="hero__gif-3__user-photo"
        />
        <p class="hero__gif-3__name">lorem</p>
      </div>
      <img src="/images/gif/12.gif" alt="" class="hero__gif-3" />
      <div class="hero__gif-3__icons-thumb">
        <svg class="hero__gif-3__svg">
          <use href="../images/icons/symbol-defs.svg#icon-heart"></use>
        </svg>
        <svg class="hero__gif-3__svg">
          <use href="../images/icons/symbol-defs.svg#icon-bubble2"></use>
        </svg>
        <svg class="hero__gif-3__svg">
          <use href="../images/icons/symbol-defs.svg#icon-vimeo"></use>
        </svg>
      </div>
    </div>
    <div class="hero__gif-4-thumb">
      <img src="/images/gif/16.gif" alt="" class="hero__gif-4" />
    </div>
  </div>
</section>
