<section class="hero">
  <div class="container">
    <div class="wrapper">
      <h1
        class="hero__title animate__animated animate__fadeInLeft animate__delay-2s animate__slow"
      >
        bazalevskiy
      </h1>
      <div
        class="hero__gif-thumb hero__gif-1-thumb down-slow animate__animated animate__zoomIn animate__delay-4s animate__slow"
      >
        <img src="/images/hero/tiktok.gif" alt="" class="hero__gif" />
      </div>
      <p
        class="hero__text animate__animated animate__fadeIn animate__delay-5s animate__slow"
      >
        A Ukrainian Creative
        <span class="hero__text--colored">Director</span> who <br />
        <span class="hero__text--colored">produces</span> short-form Ads,
        <span class="hero__text--colored">Commercials</span> and UGC. Passioned
        for pushing boundaries in stop-scrolling
        <span class="hero__text--colored">videos</span>
        seasoned with a touch of humor.
      </p>
      <div
        class="hero__gif-thumb hero__gif-2-thumb down-slow animate__animated animate__zoomIn animate__delay-4s animate__slow"
      >
        <img src="/images/hero/reels.gif" alt="" class="hero__gif" />
      </div>
      <div
        class="hero__gif-thumb hero__gif-3-thumb animate__animated animate__zoomIn animate__delay-4s animate__slow"
      >
        <img src="../images/projects/office-ad.jpg" alt="" class="hero__gif" />
      </div>
      <div
        class="hero__gif-thumb hero__gif-4-thumb up animate__animated animate__zoomIn animate__delay-4s animate__slow"
      >
        <img src="/images/hero/inst-post-2.gif" alt="" class="hero__gif" />
      </div>
      <!-- <div class="hero__gif-thumb hero__gif-3-thumb">
        <img src="/images/hero/fb-post.gif" alt="" class="hero__gif" />
      </div> -->
      <!-- <div class="hero__gif-thumb hero__gif-5-thumb down-fast">
        <img src="/images/hero/inst-post-1.gif" alt="" class="hero__gif" />
      </div> -->
    </div>
  </div>
</section>
