<section class="hero">
  <div class="container">
    <div class="wrapper">
      <h1 class="hero__title"><span class="red">who am i</span></h1>
      <p class="hero__text">
        A Ukrainian <span class="orange">Creative Director</span> who produces
        <span class="yellow">short-form Ads</span>, Commercials and
        <span class="green">UGContent</span>. Passioned for pushing boundaries
        in <span class="blue">stop-scrolling videos</span> seasoned with a
        <span class="purple">touch of humor</span>.
      </p>
      <div class="hero__gif-thumb hero__gif-1-thumb down-slow">
        <img src="/images/hero/inst-post-2.gif" alt="" class="hero__gif" />
      </div>
      <div class="hero__gif-thumb hero__gif-2-thumb up">
        <img src="/images/hero/tiktok.gif" alt="" class="hero__gif" />
      </div>
      <div class="hero__gif-thumb hero__gif-3-thumb">
        <img src="/images/hero/fb-post.gif" alt="" class="hero__gif" />
      </div>
      <div class="hero__gif-thumb hero__gif-4-thumb up">
        <img src="/images/hero/reels.gif" alt="" class="hero__gif" />
      </div>
      <div class="hero__gif-thumb hero__gif-5-thumb down-fast">
        <img src="/images/hero/inst-post-1.gif" alt="" class="hero__gif" />
      </div>
    </div>
  </div>
</section>
