<section class="projects">
  <div class="container">
    <h2 class="projects__title">projects</h2>
    <ul class="projects__list">
      <li class="projects__item projects__item-1">
        <!-- <div class="project__item__video-player"> -->
        <iframe
          src="https://player.vimeo.com/video/855616679?h=787809f3d0"
          height="638"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
        <!-- </div> -->
        <!-- <div class="project__item__video-image">
          <img
            src="/images/projects/1.jpg"
            alt=""
            class="projects__item-img projects__img-1"
          />
        </div> -->
      </li>
      <li class="projects__item">
        <!-- <img
          src="/images/projects/2.jpg"
          alt=""
          class="projects__item-img projects__img-2"
        /> -->
        <iframe
          src="https://player.vimeo.com/video/245624089?h=fc4a6b7413"
          width="640"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li>
      <li class="projects__item">
        <iframe
          src="https://player.vimeo.com/video/255967059?h=d4133f2cc2"
          width="640"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
        <!-- <img
          src="/images/projects/3.jpg"
          alt=""
          class="projects__item-img projects__img-3"
        /> -->
      </li>
      <li class="projects__item">
        <!-- <img
          src="/images/projects/4.jpg"
          alt=""
          class="projects__item-img projects__img-4"
        /> -->
        <iframe
          src="https://player.vimeo.com/video/310693823?h=3ade058c3e"
          width="340"
          height="340"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li>
      <li class="projects__item">
        <!-- <img
          src="/images/projects/6.png"
          alt=""
          class="projects__item-img projects__img-5"
        /> -->
        <iframe
          src="https://player.vimeo.com/video/310167132?h=e5d20dcefd"
          width="440"
          height="600"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li>
      <li class="projects__item">
        <!-- <img
          src="/images/projects/5.jpg"
          alt=""
          class="projects__item-img projects__img-6"
        /> -->
        <iframe
          src="https://player.vimeo.com/video/310171861?h=dd8ca79001"
          width="640"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li>
      <li class="projects__item">
        <!-- <img
          src="/images/projects/7.jpg"
          alt=""
          class="projects__item-img projects__img-7"
        /> -->
        <iframe
          src="https://player.vimeo.com/video/398663148?h=3cbc2ef343"
          width="640"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li>
    </ul>
  </div>
</section>
