<section class="projects">
  <div class="container">
    <h2 class="projects__title">projects</h2>
    <ul class="projects__list">
      <li class="projects__item front">
        <iframe
          src="https://player.vimeo.com/video/398665015?h=36d7e478e4"
          width="500"
          height="280"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li>
      <li class="projects__item back">
        <iframe
          src="https://player.vimeo.com/video/867148517?h=b86f0179ac"
          width="420"
          height="638"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li>

      <li class="projects__item middle">
        <iframe
          src="https://player.vimeo.com/video/913353662?h=c7e4f4f5a1"
          width="540"
          height="540"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li>
      <li class="projects__item front">
        <iframe
          src="https://player.vimeo.com/video/310173567?h=c7f735e667"
          width="540"
          height="330"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li>
      <!-- <li class="projects__item">
        <iframe
          src="https://player.vimeo.com/video/909718853?h=116d05730a"
          width="570"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li> -->
      <!-- <li class="projects__item">
        <iframe
          src="https://player.vimeo.com/video/398652864?h=fe64a9cbd6"
          width="570"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li> -->
      <!-- <ul class="three-in-row__list">
        <li class="projects__item middle">
          <iframe
            src="https://player.vimeo.com/video/245624089?h=fc4a6b7413"
            width="440"
            height="360"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
          ></iframe>
        </li>
        <li class="projects__item">
          <iframe
            src="https://player.vimeo.com/video/310693823?h=3ade058c3e"
            width="240"
            height="240"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
          ></iframe>
        </li>
        <li class="projects__item front">
          <iframe
            src="https://player.vimeo.com/video/398645953?h=bde7d8cc29"
            width="440"
            height="360"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
          ></iframe>
        </li>
      </ul> -->
      <!-- <li class="projects__item middle">
        <iframe
          src="https://player.vimeo.com/video/310169217?h=cdb8064aa7"
          width="640"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li> -->
      <!-- <li class="projects__item front">
        <iframe
          src="https://player.vimeo.com/video/310167979?h=fa1c916368"
          width=" 440"
          height="260"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li> -->
      <!-- <li class="projects__item">
        <iframe
          src="https://player.vimeo.com/video/398663148?h=3cbc2ef343"
          width="640"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </li> -->
    </ul>
  </div>
</section>
