<section class="projects">
  <div class="container">
    <h2 class="projects__title">projects</h2>
    <ul class="projects__list">
      <li class="projects__item">
        <img
          src="/images/projects/1.jpg"
          alt=""
          class="projects__item-img projects__img-1"
        />
      </li>
      <li class="projects__item">
        <img
          src="/images/projects/2.jpg"
          alt=""
          class="projects__item-img projects__img-2"
        />
      </li>
      <li class="projects__item">
        <img
          src="/images/projects/3.jpg"
          alt=""
          class="projects__item-img projects__img-3"
        />
      </li>
      <li class="projects__item">
        <img
          src="/images/projects/4.jpg"
          alt=""
          class="projects__item-img projects__img-4"
        />
      </li>
      <li class="projects__item">
        <img
          src="/images/projects/6.png"
          alt=""
          class="projects__item-img projects__img-5"
        />
      </li>
      <li class="projects__item">
        <img
          src="/images/projects/5.jpg"
          alt=""
          class="projects__item-img projects__img-6"
        />
      </li>
      <li class="projects__item">
        <img
          src="/images/projects/7.jpg"
          alt=""
          class="projects__item-img projects__img-7"
        />
      </li>
    </ul>
  </div>
</section>
