<section class="services">
  <div class="container">
    <h2 class="services__title">services</h2>
    <ul class="services__list">
      <li class="services__item">creative ads</li>
      <li class="service__line"></li>
      <li class="services__item">commercials</li>
      <li class="service__line"></li>
      <li class="services__item">ai tools</li>
      <li class="service__line"></li>
      <li class="services__item">copywriting</li>
      <li class="service__line"></li>
      <li class="services__item">video editing</li>
      <li class="service__line"></li>
    </ul>
  </div>
</section>
